CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/build_vs*
.vs/
*.aps
/DX12Lib/inc/GenerateMips_CS.inc
/Data/Shaders/*.cso
*.cso
Assets/Cerberus
Assets/HDR
Assets/Unreal-actor
Assets/SM_Chair
Assets/SM_Couch
Assets/SM_Lamp_Ceiling
Assets/SM_MatPreviewMesh
Assets/SM_TableRound
Assets/Sci-fi-Biolab